@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
}

canvas {
  touch-action: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "RedBull";
  src: url("./fonts/SansSerifFLF.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "RedBull2";
  src: url("./fonts/SansSerifExbFLF.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
}

.bg-gradient-to-b {
  background-size: 100% 100%;
  background-position: 0% 0%;
}
